<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        body, div, input {
            font-size: 20px;
            text-align: center;
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }
        form {
             margin:10% auto;
        }
        .button {
            background-color: #2d97cb;
            font-weight: bold;
            color: white;
            border: 0;
        }
    </style>
</head>
<body>
    <form method="post">
        <div>
            <h1>ChartGrabber</h1>
            <input type="text" name="page_ref" placeholder="h-1234 or bl_1234">
            <input type="submit" value="GO" class="button">
        </div>
    </form>
</body>
</html>